{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
        },
      },
    ],
    "@babel/preset-react",
  ],
  "plugins": [
    "styled-components",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-spread",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
  ],
}